{% extends "auth/base_auth.html" %}
{% block title %}Forgot Password{% endblock %}
{% block left_heading %}Reset Password{% endblock %}
{% block left_subtext %}Enter your email to receive a reset link{% endblock %}

{% block content %}
<h2>Forgot Password</h2>
<p class="subtitle">Enter your email to receive a reset link</p>

<form method="post">
  {% csrf_token %}
  <div class="input-group">
    <label for="id_email">Email</label>
    <input id="id_email" name="email" type="email" required>
  </div>

  <button class="btn-primary" type="submit">Send Reset Link</button>
</form>

<div class="redirect">
  Remember your password? <a class="link" href="{% url 'login' %}">Login</a>
</div>
{% endblock %}
