{% extends "base_auth.html" %}
{% block title %}Choose New Password{% endblock %}
{% block left_heading %}Choose new password{% endblock %}
{% block left_subtext %}Create a new secure password for your account{% endblock %}

{% block content %}
<h2>Reset Password</h2>
<p class="subtitle">Enter your new password</p>

<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="input-group">
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}<div class="errorlist">{{ form.new_password1.errors }}</div>{% endif %}
  </div>
  <div class="input-group">
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {% if form.new_password2.errors %}<div class="errorlist">{{ form.new_password2.errors }}</div>{% endif %}
  </div>

  <button class="btn-primary" type="submit">Reset Password</button>
</form>

<div class="redirect">
  Back to <a class="link" href="{% url 'login' %}">Login</a>
</div>
{% endblock %}
